<tr>
    <td><img src="{{ poke.picture}}"></td>
    <td>{{ poke.id }}</td>
    <td>{{ poke.name }}</td>
    <td>{{ poke.level }}</td>
    <td>{{ poke.hidden_abilities[0] }}</td>
    <td>{{ poke.item }}</td>
    <td>{% for move in poke.moves %} <b>{{ loop.index }}</b> {{ move }} <hr> {% endfor %}</td>
    {% set count = loop.index - 1 %}
    <td><a href="{{ url_for('poke.deletepokemon', username=team.UserName, teamname=team.TeamName, slot=count)}}"><button type="button" class="btn btn-warning">Remove</button></a>
        <hr>
    <a href="{{ url_for('poke.editpokemon', username=team.UserName, teamname=team.TeamName, slot=count)}}"><button type="button" class="btn btn-secondary">Edit</button></a></td>
</tr>