{% extends "base.html" %}

{% block app_content %}
<style>
    img {
        width: 80px;
        height: 80px;
    }
</style>
{% for team in results %}
<h3>
    Created By:
    <a href="{{ url_for('home.user', username=team.UserName) }}">
        {{ team.UserName }}
    </a>
</h3>
<h4>
    Team Name: {{ team.TeamName }}
</h4>
<hr>

<div class="table-responsive">
    <table class="table">
        <thead>
            <th scope="col">Picture</th>
            <th scope="col">Pokedex</th>
            <th scope="col">Pokemon</th>
            <th scope="col">Level</th>
            <th scope="col">Ability</th>
            <th scope="col">Item</th>
        </thead>
        <tbody>
            {% for poke in team.pokemon %}
                {% include 'pokemon/_pokemon.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% if team.count < 7 %}
<a href="{{ url_for('poke.addnewpokemon', username=team.UserName, teamname=team.TeamName)}}"><button type="button" class="btn btn-primary">Add New Pokemon</button></a>
{% endif %}
<a href="{{ url_for('poke.editteam', username=team.UserName, teamname=team.TeamName)}}"><button type="button" class="btn btn-primary">Edit Team</button></a>

<hr>
{% endfor %}
{% endblock %}