<style>
    img {
        width: 80px;
        height: 80px;
    }
</style>

<h3>
    <a href="{{ url_for('home.user', username=team.UserName) }}">
        {{ team.UserName }}
    </a>
</h3>
<h4>
    <a href="{{ url_for('poke.teampage', username=team.UserName, teamname=team.TeamName)}}">{{ team.TeamName }}</a>
</h4>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                {% for poke in team.pokemon %}
                    <th>
                        {{ poke.name }}
                        <img src="{{ poke.picture}}">
                    </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<hr>